/*font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Black And White Picture', sans-serif;
font-family: 'Cookie', cursive;
*/

.pigsHead h1 {
  font-family: 'Dancing Script', cursive;
  font-size:100px;
}

.images {
  padding: 2%;

}
