/*font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Black And White Picture', sans-serif;
font-family: 'Cookie', cursive;
*/




/*Let's define the two divs. */
.gamescreen {
  display: none;
  width: 90%;
}

.formgame {
  background-color: red;
}
.pigsHead h1 {
  font-family: 'Dancing Script', cursive;
  font-size:100px;
}

.images {
  padding: 2%;

}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
}



.formgame h1 {
  font-family: 'Dancing Script', cursive;
  font-size:100px;
  color: white;
}

.formgame h3 {
  font-family: 'Great Vibes', cursive;
  font-size:60px;
  color: white;
}


.diceImg img {
  width: 50%;
  height: 50%;
  padding: 2%;
}


.rotated-image {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.player1Score {
  font-family: 'Great Vibes', cursive;
}

.button-disable {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -webkit-box-shadow:none;
          box-shadow: none;
  opacity: .2;
  pointer-events: none;
}
#middle {
  background-color: blue;
}


#player1Rolled {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 40px;
}
#player2Rolled {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 40px;
}
#player1Score {
font-family: 'Cookie', cursive;
  font-size: 30px;
  color: red;
}
#player2Score {
font-family: 'Cookie', cursive;
  font-size: 30px;
  color: red;
}
