/*font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Black And White Picture', sans-serif;
font-family: 'Cookie', cursive;
*/

.pigsHead h1 {
  font-family: 'Dancing Script', cursive;
  font-size:100px;
}

.images {
  padding: 2%;

}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
.gamescreen {
  display: none;
  width: 90%;
}

.formgame {
  background-color: pink;
}


.formgame h1 {
  font-family: 'Dancing Script', cursive;
  font-size:100px;
}


.diceImg img {
  width: 50%;
  height: 50%;
  padding: 2%;
}


.rotated-image {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.player1Score {
  font-family: 'Great Vibes', cursive;
}
